:root{
    --roxo_panda: #200028;
    --verde_panda: #19c779;
}
/* ----------------------BODY----------------------- */
body{
    font-family: 'Lato', sans-serif;
    background-color: #200028;
}
/* ----------------------HEADER--------------------- */
.img-banner{
    text-align: center;
    width: 40%;
    min-width: 280px;
}

/* ----------------------NAV------------------------ */
nav{
    background-color: var(--roxo_panda);
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    border-bottom: 5px var(--verde_panda) solid;
}

.navbar-toggler{
    background-color: var(--verde_panda);
}

nav a{
    padding: 0px 5vw 0px 0px;
    width: 10vw;
    border-radius: 5px;
    vertical-align: middle;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.164);
    color: var(--verde_panda);
}

.navbar li{
    font-size: 23px;
    vertical-align: middle;
}

@media only screen and (max-width: 1500px) {
    nav li{
        font-size: 1.5vw;
    }
}

nav li .active{
    background-color: var(--verde_panda);
}

nav li .active:hover{
    color: white;
}

.dropdown-menu{
    width: 10vw;
    text-align: center;
    background-color: var(--roxo_panda);
    border-style: solid;
    border-color: var(--verde_panda);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-item{
    margin: 10px 0px;
    padding: 20px 0px;
    color: white;
    border-radius: 5px;
}

.dropdown-item:hover{
    color: white;
    background-color: var(--verde_panda);
}

/* ----------------------MAIN----------------------- */
.img-name{
    width: 55%;
    margin-bottom: 20px;
}