:root{
    --roxo_panda: #19001f;
    --verde_panda: #19c779;
    --roxo_panda_velho: #200028;
}
/* ----------------------BODY----------------------- */
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--roxo_panda);
}
/* ----------------------HEADER--------------------- */
.img-banner{
    text-align: center;
    width: 40%;
    min-width: 300px;
}

/* ----------------------NAV------------------------ */
nav{
    background-color: var(--roxo_panda);
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px -20px 0px !important;
    border-bottom: 5px var(--verde_panda) solid;
}

.navbar-toggler{
    background-color: var(--verde_panda);
}

nav a{
    padding: 0px 5vw 0px 0px;
    width: 12.5vw;
    border-radius: 5px;
    vertical-align: middle;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.164);
    color: var(--verde_panda);
}

.navbar li{
    font-size: 23px;
    vertical-align: middle;
}

nav li .active{
    background-color: var(--verde_panda);
    pointer-events: none;
}

nav li .active:hover{
    color: white;
}

.dropdown-menu{
    width: 10vw;
    text-align: center;
    background-color: var(--roxo_panda);
    border-style: solid;
    border-color: var(--verde_panda);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-item{
    margin: 10px 0px;
    padding: 20px 0px;
    color: white;
    border-radius: 5px;
}

.dropdown-item:hover{
    color: white;
    background-color: var(--verde_panda);
}

@media only screen and (max-width: 1500px) {
    nav li{
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 991px) {
    nav li{
        padding: 3px 0px;
        display: flex;
        justify-content: space-around;
    }

    nav li div{
        padding: 3px 0px;
        display: flex;
        justify-content: space-around;
    }

    nav li:first-child{
        padding: 6px 0px 3px 0px;
    }

    nav li:last-child{
        padding: 3px 0px 6px 0px;
    }

    nav li .nav-link{
        width: 100%;
    }
}

/* ----------------------MAIN----------------------- */
.img-name{
    width: 55%;
    margin-bottom: 10px;
}

.carousel-inner{
    margin: 0px !important;
}