:root{
    --panda_purple: #19001f;
    --panda_purple_2: #200028;
    --panda_green: #1ad481;
    --panda_green_text: #55fdb2;
}
/* ----------------------BODY----------------------- */
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--panda_purple);
}
/* ----------------------HEADER--------------------- */
.img-banner{
    text-align: center;
    width: 40%;
    min-width: 300px;
}

/* ----------------------NAV------------------------ */
nav{
    background-color: var(--panda_purple);
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 20px 0px !important;
    border-bottom: 5px var(--panda_green) solid;
}

.navbar-toggler{
    background-color: var(--panda_green);
}

nav a{
    padding: 0px 5vw 0px 0px;
    width: 12.5vw;
    border-radius: 5px;
    vertical-align: middle;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.164);
    color: var(--panda_green);
}

.navbar li{
    font-size: 23px;
    vertical-align: middle;
}

nav li .active{
    background-color: var(--panda_green);
    pointer-events: none;
}

.active-games{
    border: solid var(--panda_green);
    border-width: 1px;
}

nav li .active:hover{
    color: white;
}

.dropdown-menu{
    width: 12.5vw;
    text-align: center;
    background-color: var(--panda_purple);
    border-style: solid;
    border-color: var(--panda_green);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-item{
    margin: 10px 0px;
    padding: 20px 0px;
    color: white;
    border-radius: 5px;
}

.dropdown-item:hover{
    color: white;
    background-color: var(--panda_green);
}

.dropdown-item.active-custom{
    background-color: var(--panda_green);
    pointer-events: none;
}

@media only screen and (max-width: 1500px) {
    nav li{
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 991px) {
    nav li{
        padding: 3px 0px;
        display: flex;
        justify-content: space-around;
    }

    nav li div{
        padding: 3px 0px;
        display: flex;
        justify-content: space-around;
    }

    nav li:first-child{
        padding: 6px 0px 3px 0px;
    }

    nav li:last-child{
        padding: 3px 0px 6px 0px;
    }

    nav li .nav-link{
        width: 100%;
    }
}

/* ----------------------MAIN----------------------- */
.img-name{
    margin: -25px 0px 5px 0px !important;
    width: 55%;
}

.carousel-inner{
    margin: 0px !important;
}

main p{
    text-align: justify;
    color: white;
    font-size: 28px;
    text-indent: 60px;
    letter-spacing: 2.5px;
    line-height: 2;
}

main div.container-fluid{
    margin-top: 80px;
    padding: 0px 60px;
}

.text-rich{
    color: var(--panda_green_text);
    font-weight: 1000;
}

main .about-img{
    width: 100%;
    object-fit: cover;
}

main .about-img-container{
    background-color: yellow;
    object-fit: cover;
    max-width: 40%;
}

main .about-text-container{
    background-color: rgb(255, 0, 0);
    padding-left: 50px;
}

.card{
    border-style: solid;
    border-color: var(--panda_green);
    background-color: var(--panda_purple);
}

.card-body{
    color: white;
    padding: 0px 0px 20px 0px;
}

.mgp-card-title{
    padding: 15px 0px 15px 0px;
}

.card-body>a{
    color: var(--panda_green_text);
    border: solid var(--panda_green);
    border-width: 1px;
    border-radius: 5px;
    padding: 8px;
}